<app-layout [title]="'Homepage'" [busy]="busy$ | async">
  <app-log
    [value]="createLog$ | async"
    [editable]="true"
    (saved)="createLog($event)"
  ></app-log>

  <span *ngIf="createLogError$ | async as createLogError" style="color: red">{{
    createLogError | json
  }}</span>
  <mat-divider></mat-divider>
  <div>
    <span *ngIf="logsError$ | async as logsError" style="color: red">{{
      logsError | json
    }}</span>
    <mat-list>
      <mat-list-item
        *ngFor="let log of logs$ | async"
        data-tid="logs-list-view__log-item"
      >
        {{ log.event | date: 'medium' }}
      </mat-list-item>
    </mat-list>
  </div>
</app-layout>
