<header>
  <mat-toolbar color="primary">
    <span>🔥 Firestack</span>
    <nav>
      <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
    </nav>
    <app-user-menu
      [user]="authService.user$ | async"
      (signIn)="authService.signIn().subscribe()"
      (signOut)="authService.signOut().subscribe()"
    ></app-user-menu>
  </mat-toolbar>
</header>
<main>
  <ng-content></ng-content>
</main>

<mat-progress-bar
  *ngIf="busy"
  color="accent"
  mode="indeterminate"
  class="progress-bar"
>
</mat-progress-bar>
