@import 'global';

mat-toolbar {
  @include spacing--right($gutter-m);
}

nav {
  flex: 1 1 auto;
  @include spacing--right($gutter);
}

nav a {
  &.active {
    background-color: rgba(255, 255, 255, 0.16);
  }
}

@include ng-deep {
  main {
    display: flex;
    flex-direction: column;
    padding: $gutter;

    @include spacing--bottom($gutter-m);
  }
}

.progress-bar {
  position: absolute;
  top: 0;
  background: transparent;
}
