<header>
  <mat-toolbar color="primary">
    <span>🔥 Firestack</span>
    <nav>
      <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
      <ng-container *ngIf="authService.user$ | async">
        <a mat-button routerLink="/auth/logs" routerLinkActive="active">Logs</a>
      </ng-container>
    </nav>
    <app-user-menu
      *ngIf="authService.user$ | async as user"
      [user]="user"
      (signIn)="authService.signIn().subscribe()"
      (signOut)="authService.signOut().subscribe()"
    ></app-user-menu>
  </mat-toolbar>
</header>
<main>
  <ng-content></ng-content>
</main>

<mat-progress-bar
  *ngIf="busy"
  color="accent"
  mode="indeterminate"
  class="progress-bar"
>
</mat-progress-bar>
